{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Title %} {% endblock Title %}</title>
    <link rel="stylesheet" href="{% block CSS %} {% static 'css/main.css' %} {% endblock CSS %}">
</head>
<body>
<div class="div_header">
    <div align="center">
        <a href="{% url 'home' %}" class="a_header"><h1>Главная</h1></a>
        <a href="" class="a_header"><h1>О нас</h1></a>
        <a href="{{ adr }}courses/" class="a_header"><h1>Наши курсы</h1></a>
        <a href="{% url 'feedbacks' %}" class="a_header"><h1>Отзывы</h1></a>
        <a href="{{ adr }}login/" class="a_header"><h1>Личный кабинет ученика</h1></a>
    </div>
</div>
<div>{% block Content %} {% endblock Content %}</div>
</body>
</html>