{% extends "html/../base.html" %}
{% block Title %} Курсы {% endblock Title %}
{% block Content %}
    <h align="center">
        <a class="a_header" href="{% url 'request_to_courses' %}"><h1>Заявка на курсы</h1></a>
    </h>
    <div class="div_content">
        {% for c in page_obj %}
            <div class="div_course">
                <h1 align="center"> {{ c.name }} </h1>
                <div class="div_course_content">
                    <p>{{ c.description }}</p>
                    <p>Цена: {{ c.price }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="pagination" align="center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock Content %}