{% extends "html/base.html" %}
{% block Title %} Курсы {% endblock Title %}
{% block Content %}
    <h align="center">
        <a class="a_header" href="{% url 'request_to_courses' %}"><h1>Заявка на курсы</h1></a>
    </h>
    <div class="div_content">
        {% for c in Courses %}
            <div class="div_course">
                <h1 align="center"> {{ c.name }} </h1>
                <div class="div_course_content">
                    <p>{{ c.description }}</p>
                    <p>Цена: {{ c.price }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="div_pagination">
            {% include 'html/pagination.html' with page=Courses %}
        </div>
    </div>
{% endblock Content %}