{% extends "html/base.html" %}
{% block Title %} Отзывы {% endblock Title %}
{% block Content %}
    <a class="a_content" href="{% url 'send_feedback' %}"><h1 align="center">Оставить отзыв</h1></a>
    <div class="div_content">
        {% for f in page_obj %}
        <div class="div_feedback">
                <div class="div_feedback_content">
                    <h1 align="center">{{ f.title }}</h1>
                        <p class="p_feedback">{{ f.content }}</p>
                        <time>{{ f.date }}. {{ f.author }}</time>
                </div>
        </div>
        {% endfor %}
        <div class="pagination" align="center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>


{% endblock Content %}