{% extends "html/base.html" %}
{% load static %}
{% block Title %} Главная {% endblock Title %}
{% block Content %}
    <h1 align="center">Новости</h1>
    <div class="div_content">
        {% for n in News %}
            <div class="div_news">
                <img src="{% static 'img/news.jpg' %}">
                <div class="div_news_content">
                    <h1><a href="{% url 'news_page' n.id %}">{{ n.title }}</a></h1>
                    <p>Автор: {{ n.author }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="div_pagination">
            {% include 'html/pagination.html' with page=News %}
        </div>
    </div>
{% endblock Content %}