{% extends "html/base.html" %}
{% block Title %} Заявка {% endblock Title %}
{% block Content %}
     <h1 class="" align="center">
        <a class="a_content" href="{% url 'courses' %}">Наши курсы</a>
    </h1>
    <div class="div_content">
        <form method="post">
             {% csrf_token %}
             <table align="center">
                 {{ RequestForm }}
             </table>
            <input class="input_submit" type="submit" value="Отправить">
         </form>
    </div>
{% endblock Content %}